* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1em;
    background-color: hsla(220, 80%, 80%, 0.712);
}

p {
    color: #fff;
    font-size: 3em;
    font-family:'Courier New', Courier, monospace;
}

p:last-child {
    color:hsl(200, 50%, 50%);
}
